// Place all the styles related to the Promotions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thumb{
	width: 500px;
	height: 500px;
}

.auto-width{
	width: auto;
}
